.blogs {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 0;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  justify-content: center;
  border-radius: 2rem;
}

.blog-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.create-button {
  width: fit-content;
  height: fit-content;
}

.blog-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.close-button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 3rem;
  cursor: pointer;
}

.blog-img-container {
  width: 100%;
}

.blog-img {
  width: 100%;
}
